html {
    background-color: #c11d24;
    background-image: url(img/top-secret-small.png);
    background-repeat: repeat;
}

body {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 8px 8px #333333;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

main {
    margin-top: 35px;
}

p {
    text-align: justify;
}

/* Caja de experimento */
.boxed {
    margin: 50px;
}

.boxed span {
    display: inline-block;
    background-color: #ffe082;
    box-shadow: 5px 5px #ffa000;
    padding: 15px;
}




/* CADA DE RESPUESTAS */
.Answer {
    margin-top: 30px;
}

.Answer label {
    display: block;
}

.Answer textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    width: 99%;
    resize: vertical;
    height: 50px;
}

.Answer input[type="button"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    width: 120px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.Answer .SendButton {
    color: white;
    font-weight: bold;
    background-color: #c11d24;
    border-style: solid;
    border-width: 1px ;
    border-radius: 2px;
}

.Answer .SendButton:hover {
    background-color: #ff1d24;
}

.Answer .SendButton:active {
    background-color: #c11d24;
}


.Answer select{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    width: 60px;
    margin: 10px;
}


/* CADA DE MENSAJE */
.Message {
    margin-top: 30px;
}

.Message label {
    display: block;
}

.Message textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    width: 99%;
    resize: vertical;
    height: 50px;
}

/* REGRESAR A LA MISIÓN */

.ReturnToMission {
    margin-top: 20px;
}