html {
    background-color: darkred;
    background-image: url(img/top-secret-small.png);
    background-repeat: repeat;
}

body {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px #333333;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

main {
    margin-top: 35px;
}

p {
    text-align: justify;
}


.boxed {
    margin: 50px;
}

.boxed span {
    border: 1px solid black;
    padding: 15px;
}


.LetterAssignment label{
    white-space: nowrap;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 30px;
}

.LetterAssignment input{
    font-family: 'Courier New', Courier, monospace;
    width: 25px;
}

.Answer {
    margin-top: 30px;
}

.Answer label {
    display: block;
}

.Answer textarea {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 50px;
}

.Answer input[type="button"] {
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.Answer select{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Alfabeto galáctico estándar */
@font-face {
    font-family: GalacticStandar;
    src: url(fonts/standard-galactic-alphabet.ttf);
}


.galactic {
    font-family: GalacticStandar;
}


.galacticLetter input{
    font-family: GalacticStandar, Courier, monospace;
}

.Message {
    margin-top: 30px;
}

.Message label {
    display: block;
}

.Message textarea {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 50px;
}

/* Alfabetos */
@font-face {
    font-family: HylianTP;
    src: url(fonts/advanced-hylian.ttf);
}

@font-face {
    font-family: Sheikah;
    src: url(fonts/sheikah-complete.ttf);
}

@font-face {
    font-family: Unown;
    src: url(fonts/unown.ttf);
}