.boxed table {
    border-spacing: 10px 5px
}

.boxed th {
    font-size: 16px;
    text-align: center;
    transform: rotate(-45deg);
}

.boxed td {
    font-family: Consolas, monospace;
    font-size: 30px;
    width: 40px;
    text-align: center;
}

.boxed td {
    border: 1px solid;
  }


.Answer input[type="number"] {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}